html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*Jonah CSS*/
#playlisttable {
    border: solid black 2px;
    font-family: 'Century Gothic';
    border-radius: 10px;
}

#id {
    margin:auto;
    bottom:0;
    right:0;
    width: 300px;
    border: 3px solid black;
    border-radius: 10px;
}
/*Damian CSS*/
#addsongtable {
    border: solid black 2px;
}

.addlabel{
    border-right: 1px solid black;
}

.submit {
    column-span: 1;
    
}

.submitbutton{
    border-radius: 5px;
    transition: 0.25s;
}

.submitbutton:hover{
    background-color: aquamarine;
}