@page
@model Music_project.Pages.addsongModel
@{



}


<table>
    <tr>
        <td>
            <label>Name of the band/artist</label>
        </td><td>
            <input name="band_or_artist" type="text">
        </td>
    </tr><tr>
        <td>
            <label>Title</label>
        </td><td>
            <input name="title" type="text">
        </td>
    </tr><tr>
        <td>
            <label>Year of release</label>
        </td><td>
            <input name="YOR" type="text">
        </td>
    </tr><tr>
        <td></td>
        <td>
            <input type="submit" />
        </td>
    </tr>
</table>