@page
@using Music_project.NewFolder
@using System.Data
@using Music_project.code
@model Music_project.Pages.addsongModel
@{

    // eerst checken of op de submit knop is gedrukt
    if (Request.Method == "POST")
    {
        //gegevens uit het formulier halen.
        string id = Request.Form["id"];
        string song = Request.Form["song"];
        string artist = Request.Form["artist"];
        string YOR = Request.Form["YOR"];
        string time = Request.Form["time"];
        string genre = Request.Form["genre"];
        string url = Request.Form.Files[0].FileName;

        //gegevens in een datarow zetten
        songMethods sm = new songMethods();


        //sm.GetAllSongs( Environment.CurrentDirectory +"/Data/playlist.xml");
        Song newsong = new Song();
        newsong.id = int.Parse(id);
        newsong.title = song;
        newsong.artist = artist;
        newsong.time = time;
        newsong.year = int.Parse(YOR);
        newsong.url = url;
        newsong.genre = genre;


        sm.AddNewRow(newsong);

        Response.Redirect("Playlist");
    }

}

<form method="post" enctype="multipart/form-data">
<table class="table table-hover table-striped" id="addsongtable">
<tr>
        <td class="addlabel">
            <label>id</label>
        </td>
        <td>
            <input name="id" type="text" />
        </td>
    </tr>
    <tr>
        <td class="addlabel">
            <label>song</label>
        </td><td>
            <input name="song" type="text">
        </td>
    </tr>
    <tr>
        <td class="addlabel">
            <label>artist</label>
        </td>
        <td>
            <input name="artist" type="text" />
        </td>
    </tr>
    <tr>
        <td class="addlabel">
            <label>genre</label>
        </td>
        <td>
            <input name="genre" type="text" />
            @*<select>
                    @{
                        List<string> genres = new List<string>();
                        genres.Add("Rock");
                        genres.Add("Jazz");
                        genres.Add("Pop");
                    }
                @foreach (string g in genres)
                {
                    <option>@g</option>
                }
            </select>*@
        </td>
    </tr>
    <tr>
        <td class="addlabel">
            <label>Year of release</label>
        </td><td>
            <input name="YOR" type="text">
        </td>
    </tr>
    <tr>
        <td class="addlabel">
            <label>Time</label>
        </td><td>
            <input name="time" type="text">
        </td>
    </tr>
    <tr>
        <td class="addlabel">
            <label>Audio file</label>
        </td>
        <td>
            <input name="oFile" type="file" id="oFile">
        </td>
    </tr>
    <tr>
        <td class="submit">
            <input type="submit" asp-page-handler="upload"/>
        </td>
        <td>
            
        </td>
    </tr>
</table>
</form>