@page
@using Music_project.NewFolder
@using System.Data
@using Music_project.code
@model Music_project.Pages.XML.IndexModel
@{
    ViewData["Title"] = "Verwijder een muzieknummer";
    //sdfjkgfsfhd
    //XML
    songMethods xmlSongMethods = new songMethods();
    string xmlFile = @"\Data\Playlist.xml";
    List<Song> liedjes = xmlSongMethods.GetAllSongs();

    if (HttpMethods.IsPost(Request.Method))
    {
        if (Request.Form["inputOptie"] == "ja")
        {
            string id = Request.Query["id"];
            xmlSongMethods.DeleteSong(id, xmlFile);
        }
        if ( Request.Form["inputOptie"] == "nee")
        {
            Response.Redirect("/Playlist");
        }

      Response.Redirect("/Playlist");
    }
}

<H1> wilt u echt @Request.Query["title"] van @Request.Query["artist"] deleten?</H1>
<br />
<div id="deletediv">
    <form method="post">
        <input type="radio" name="inputOptie" value="ja"> ja</input>
        <br />  
        <input type="radio" name="inputOptie" value="nee"> nee</input>
        <br />
        <input type="submit" class="submitbutton"/>
    </form>
</div>