@page
@using Music_project.NewFolder
@using System.Data
@model Music_project.Pages.XML.IndexModel
@{
    ViewData["Title"] = "Verwijder een muzieknummer";

    //XML
    songMethods xmlSongMethods = new songMethods();
    string xmlFile = @"\Data\Playlist.xml";
    DataSet xmlDataSet = xmlSongMethods.GetAllSongs(xmlFile);

    if (HttpMethods.IsPost(Request.Method))
    {
        if (Request.Form["inputOptie"] == "ja")
        {
            string id = Request.Query["id"];
            xmlSongMethods.DeleteSong(id, xmlFile);
        }

      Response.Redirect("/Playlist");
    }
}

<H1> GOEIE DELETE van @Request.Query["id"]</H1>
<br />
<h3> Do you really want to delete it?</h3>
<form method="post">
    <input type="radio" name="inputOptie" value="ja">ja</input>
    <input type="radio" name="inputOptie" value="nee">nee</input>
    <input type="submit" />
</form>