@page
@using Music_project.NewFolder
@using System.Data
@model Music_project.Pages.XML.IndexModel
@{
    ViewData["Title"] = "Verwijder een muzieknummer";

    //XML
    songMethods xmlSongMethods = new songMethods();
    string xmlFile = @"\Data\Playlist.xml";
    DataSet xmlDataSet = xmlSongMethods.GetAllSongs(xmlFile);

    if (HttpMethods.IsPost(Request.Method))
    {
        if (Request.Form["inputOptie"] == "ja")
        {
            string id = Request.Query["id"];
            xmlSongMethods.DeleteSong(id, xmlFile);
        }

      //  Response.Redirect("/XML/Index");
    }
}

<H1> GOEIE DELETE van @Request.Query["id"]</H1>