@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <i>This is the home page</i>
    <h1> ik hoop dat deze change dan goet is door WGH van Gurp.</h1>
    <h2>HOI</h2>
    <h3>hallo dit is een test vanaf laptop wout</h3>
    12242588282822282

</div>
