@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in the Home page</h1>
    <h3 class="">Door Wout van Gurp, Damian Hulsman en Jonah de Wit</h3>
    <img src="~/img/logo final.png" width="385px"/>
</div>